<div class="back mt-5" style="margin-top: 101px;">
  <div class="<%= current_mobileDevice ? "" : "center" %> cenX" style="margin-top: 101px;">
    <h1 class="titleMain pt-5" style="font-family: 'Gravity-Regular';">LOGIN</h1>
    <h3 class="regTitle padB40" style="margin-top:0;font-family: 'Gravity-Regular';">Acesse e faça parte da comunidade!</h3>

    <%= form_tag sessions_path(first_time: @first_time) do |form| %>
    <p id="alert"><%= alert %></p>
    <div class="row mx-4">
      <div class="col-lg-12">
        <div class="form-group">
          <div>
            <label for="nome" class="col-form-label" style="font-family: 'Gravity-Regular'">Nickname</label>
          </div>
            <%= text_field_tag :nickname, "", class:" form-control", placeholder:"Nickname", required: true, autofocus: true %>
        </div>
      </div>
    </div>

    <div class="row mx-4">
      <div class="col-lg-12">
        <div class="form-group">
          <div>
            <label for="password" class="col-form-label rp" style="font-family: 'Gravity-Regular';" >Senha </label>
          </div>
            <%= password_field_tag :password, "", class: 'form-control', placeholder: "Senha", required: true %>
        </div>
        <div class="cenX down">
            <%= link_to "Cadastrar", new_user_path, class:"btn btn-outline-info", style:"float:left;font-family: 'Gravity-Regular';" %>
            <%= submit_tag "Entrar", class:"btn btn-success", style:"float:right;font-family: 'Gravity-Regular';" %>
        </div>
      </div>
    </div>



    <% end %>

  </div>
</div>
