
<!DOCTYPE html>
<html>
    <head>
        <style>
        <% if current_mobileDevice %>
            .rowPad{
                display: grid;
            }
        <% end %>
        </style>
    </head>

  <body>



    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain"  style="letter-spacing: 4px;padding-bottom: 0;"><font face = "Gravity-Regular" size = "<%= current_mobileDevice ? "7" : "8" %>">Pedro Miranda</font></h1>
            <h3><font face = "Gravity-Regular" size = "<%= current_mobileDevice ? "4" : "5" %>">Um entusiasta programador apaixonado por tecnologia inovadora e conteúdo digital.</font></h3>
        </div>

        <div class="homeLeiaMais"  id="section1">
            <a class="stealthLink subPmin padX0" href="#sobreMim"><h4>Leia mais</h4>
            <button class="smoothScrollBtn" type="button" href="#sobreMim"><img src="/Down-Arrow-White.png" width="25"/></button>
            </a>
        </div>

    </div>

    <div class="container-fluid aboutMe" id="sobreMim">
        <div class="container aboutMe">
            <div class="rowPad mt-4" >
            <% if current_mobileDevice %>
                <div class="rowPad">
                    <div class="col-md-12" id="div-image">
                        <img src="/circle-cropped.png"  class="circleImg"></img>
                        <!-- https://github.com/pedroMiranda7410.png -->
                    </div>
                </div>                    
                <div class="rowPad">
                    <div class="col-md-12" id="div-imageText">
                            <p class="pad20" align = "justify">
                            <font face = "Gravity-Regular" size = "4" style="white-space: pre-line" id="summary">
                                <%= Summary.last.description %>
                            </font>
                            </p>

                        </div>
                </div>
                    
            <% else %>
                    <div class="col-md-4" id="div-image">
                        <img src="/circle-cropped.png"  class="circleImg"></img>
                        <!-- https://github.com/pedroMiranda7410.png -->
                    </div>
                    <div class="col-md-8" id="div-imageText">
                        <p class="pad20" align = "justify">
                        <font face = "Gravity-Regular" size = "3.5" style="white-space: pre-line" id="summary">
                            <%= Summary.last.description %>
                        </font>
                        </p>

                    </div>
            <% end %>
            </div>
        </div>
    </div>

    <div class="container-fluid backDark sec" width="100%">
        <div class="container" width="100%">
            <h3 class="subTitle white" align = "justify"><font face = "Gravity-Regular" size = "6">MEU OBJETIVO</font></h3>
                <p class="subText white extPad">
                    <font face = "Gravity-Regular" style="white-space: pre-line">
                        <%= MyObjective.last.description %>
                    </font>
                </p>
        </div>
    </div>

    <div class="container-fluid electronicsBack">
        <div class="container extraSpace">
            
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="basic_subTitle"><font face = "Gravity-Regular" size = "4.9">Projetos Populares</font></h3>
                </div>
                <div class="col-lg-12">
                    <table id="popularProjects" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Título</th>
                                <th class="text-center">Descrição</th>
                                <th class="text-center">Linguagem</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td class="text-center"><a href="/software/fluxo-sanguineo" style="text-decoration:none;">Simulação de "Nano-robô"</a></td>
                                    <td class="">Simulação gráfica sobre o comportamento de um nano-tubo de ouro ("nano-robô") ao chegar perto
                                      de uma Hemácia infectada com uma certa doença</td>
                                    <td class="text-center">C#</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><a href="/software/projeto_icf" style="text-decoration:none;">ICF <br>(Iniciação Científica F.G.A)</a></td>
                                    <td class="">Site em desenvolvimento para ajudar os alunos e professores da UnB-FGA a se aproximarem
                                         e efetuarem Projetos de Pesquisa (PIBIC)
                                    </td>
                                    <td class="text-center">Python</td>
                                </tr>
                         </tbody>

                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="basic_subTitle_futureChallenges mt-3"><font face = "Gravity-Regular" size = "4.5">Desafios Futuros (Vou me ensinar de 2019 ao final de 2020)</font></h3>
                    <ul>
                        <li>Reactive Native</li><br>
                        <li>Django ou Flask - Python</li><br>
                        <li>Javascript/Typescript</li><br>
                        <li>Machine Learning/AI</li><br>
                        <li>Gestão de Projetos</li><br>
                        <li>Gestão de Pessoas</li><br>
                        <li>Liderança</li><br>
                        <li>Desenvolver conteúdo digital (Youtube)</li><br>
                    </ul>
                </div>
            </div>
            <div class="row">   
                <div class="col-lg-6">
                    <div class="rowFooter <%= current_mobileDevice ? "mt-4" : "" %>" <%= current_mobileDevice ? "style='display:flex; justify-content:center'" : "" %>>
                        <a class="btn btn-sm <%= current_mobileDevice ? "" : "centerBtn" %>" style="background:#3B3B3B;color:white;" href="/software" type="button"><font face = "Gravity-Regular" size = "4">Software</font></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="rowFooter <%= current_mobileDevice ? "mt-4" : "" %>" <%= current_mobileDevice ? "style='display:flex; justify-content:center;'" : "" %> >
                        <a class="btn btn-sm <%= current_mobileDevice ? "" : "centerBtn" %>" style="background:#3B3B3B;color:white;" href="/contacts/new" type="button"><font face = "Gravity-Regular" size = "4">Me Contate</font></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>

    <% if current_user != nil %>
        <input data-remote="true" id="user-<%= current_user.id %>" data-url="update_user?user_id=<%= current_user.id %>&login_counter=true" style="visibility:hidden" data-method="patch"  type="checkbox" >
    <% end %>
  </body>
  <script>
    <% if @atualizar_login == true && current_user != nil %>
        $('#user-<%= current_user.id %>').trigger('click');
    <% end %>
  </script>
</html>
