
<!DOCTYPE HTML>
<html>
    <head>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" ></script>
        <!-- <script src="/scrollTop.css"></script>
        <script src="/css-software/page.css"></script> -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    </head>
    <style>
        <% if current_mobileDevice %>
            .rowBackSS {
                height: 100px !important;
            }
        <% else %>
            .rowBackSS {
                height: 240px !important;
            }
        <% end %>

        #titleStarProjects:before{
            content: "";
            position: absolute;
            bottom: 0px;
            right: 0px;
            <% if current_mobileDevice %>
                border-width: 20px 20px 0 0;
            <% else %>
                border-width: 40px 40px 0 0;
            <% end %>
            border-style: solid;
            border-color: #DA8C00 #fff;
        }
    </style>
    <body>


        <link rel="stylesheet" href="css/page.css">
        <div class="homeImgSoftware">
            <div class="center container" style="padding-top: 50px;">
                <h1 class="cenX " style=" color:black;  letter-spacing: <%= current_mobileDevice ? "15px" : "20px" %>; "><font face = "Gravity-Regular" size = "<%= current_mobileDevice ? '2' : '5' %>">REPOSITÓRIO DE CÓDIGOS</font></h1>
                <div class="rowBackSS"></div>
                <h6  class ="cenX" style=" color:black;font-family: 'Gravity-Regular'; letter-spacing: 10px;padding-bottom:60px;padding-top:10px;" id="here"><font face = "Gravity-Regular" size = "<%= current_mobileDevice ? "1.5" : "2" %>">
                  RUBY | WEB DESIGN | JAVA | C | C# | C++
                </font>
                </h6>
            </div>
              <div class="homeLeiaMais" style="">
                  <a class="stealthLink subPmin padX0" href="#top"><h4><font face = "Gravity-Regular" size = "<%= current_mobileDevice ? '3' : '5' %>">VER PROJETOS</font></h4>
                  <button class="smoothScrollBtn" type="button" href="#sobreMim"><img src="/Down-Arrow.png" width="25"/></button>
                  </a>
              </div>

        </div>
        <!-- <div class="homeImg">
            <div class="homeDiv center">
                <h1 class="titleMain"  style="letter-spacing: 4px;padding-bottom: 0;"><font face = "Gravity-Regular" size = "8">Pedro Miranda</font></h1>
                <h3><font face = "Gravity-Regular" size = "5">Um entusiasta programador apaixonado por tecnologia inovadora e conteúdo digital.</font></h3>
            </div>

            <div class="homeLeiaMais"  id="section1">
                <a class="stealthLink subPmin padX0" href="#sobreMim"><h4>Leia mais</h4>
                <button class="smoothScrollBtn" type="button" href="#sobreMim"><img src="/Down-Arrow-White.png" width="25"/></button>
                </a>
            </div>

        </div> -->

        <a class="anchor" id="top"></a>

        <div class="cenX sec <%= current_mobileDevice ? 'px-5' : '' %> " id="projetos" width="<%= current_mobileDevice ? '90%' : '100%' %>">
            <div class="row" >
                <div class="col-lg-2"> 
                </div>
                <div class="col-lg-8 <%= current_mobileDevice ? '' : 'py-3' %>" id="titleStarProjects" style="background: #222222; border-radius:20px">
                    <div class="row">
                        <% if current_mobileDevice %>
                            <div class="col-lg-12 ">
                                <h3 class=" white py-1" style=" border-radius:20px" align = "center"><font face = "Gravity-Regular" size = "<%= current_mobileDevice ? '3' : '6' %>">PROJETOS POPULARES</font></h3>              
                            </div>
                        <% else %>
                            <div class="col-lg-9">
                                <h3 class="py-4 white" style="letter-spacing: 10px;background: #222222; border-radius:20px" align = "center"><font face = "Gravity-Regular" size = "<%= current_mobileDevice ? '3' : '6' %>">PROJETOS POPULARES</font></h3>              
                            </div>

                            <div class="col-lg-3" style="display:flex; justify-content:center">
                                <img class="py-1 px-1 my-auto" style="width:65px;height:65px; background: rgba(255,255,255, 0.6); border: 0px solid transparent; border-radius: 50%" src="/trophy.svg">
                            </div>
                        <% end %>
                    </div>                        
                </div>
                <div class="col-lg-2"> 
                </div>
            </div>
        </div>
        <div class="cenX sec temp mt-3" id="projetos" width="100%">
            <div class="container" style="display: inline-flex;flex-direction: column;align-items: center;">
                <% Project.where(principal: true).each do |p| %>
                    <div class="borderProj">
                        <%= link_to show_project_path(project_id: p.id), class:"noColor" do %>
                            <div class="row">
                                <div class="col-lg-4 col-md-12" style="display:flex; justify-content:center; border: 0px solid transparent">
                                    <% if p.video != "" %>
                                        <video autoplay loop class="projImg" style="border: 0px solid transparent">
                                            <source src="https://raw.githubusercontent.com/<%= p.github_owner_name %>/<%= p.github_repo_name %>/<%= p.github_branch_name %>/<%= p.video %>"></source>
                                        </video>
                                    <% elsif p.image != "" %>
                                        <img class="projImg my-auto" src="https://raw.githubusercontent.com/<%= p.github_owner_name %>/<%= p.github_repo_name %>/<%= p.github_branch_name %>/<%= p.image %>">
                                    <% end %>
                                </div>
                                <div class="projText col-lg-8 col-md-12">
                                    <h3 class="regTitle"><font face = "Gravity-Regular" size = "5"><%= p.title %> | <%= p.language %></font></h3>
                                    <p class="subP pad0 italic"><font face = "Gravity-Regular" size = "3"><%= p.sub_title %></font></p>
                                    <p style="padding-top: 20px;font-family: 'Gravity-Regular'; letter-spacing: 1px;">
                                        <%= p.sub_description %>...
                                    </p>

                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
                
            </div>
        </div>

        <div class="container-fluid py-auto" style="margin: 0 auto;">
            <div class="container" style="margin: 0 auto;">
                <div class="row">
                    <div class="col-lg-5" style="background: #222222; border-radius:20px">
                        <h3 class="white py-1" style=" border-radius:20px" align = "center"><font face = "Gravity-Regular" size = "4">LISTA DOS DEMAIS PROJETOS</font></h3>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-12">
                        <table id="projects" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Título</th>
                                    <th class="text-center">Descrição</th>
                                    <th class="text-center">Linguagem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% Project.where(principal: false).each do |p| %>
                                    <tr>
                                        <td class="text-center"><%= link_to "#{ p.title }", show_project_path(project_id: p.id), style:"text-decoration:none" %></td>
                                        <td class=""> <%= p.sub_description %> </td>
                                        <td class="text-center"><%= p.language %></td>
                                    </tr>
                                <% end %>
                            </tbody>

                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="container-fluid backDark sec mt-5" width="100%">
            <div class="container" width="100%">
                <h3 class="titleArquitecture white" align = "justify"><font face = "Gravity-Regular" size = "6">PILHA DE TECNOLOGIA</font></h3>
                <h3 class="subberTitle white" align = "justify"><font face = "Gravity-Regular" size = "2">A arquitetura do meu site</font></h3>
            </div>
            <div class="row">
                <div class="col-lg-1">
                    
                </div>
                <div class="col-lg-3">
                    <h3 class="white">
                        <font face = "Gravity-Regular" size = "4.5">Front-end</font><br>
                        <span class="subTypeArchtecture"><font face = "Gravity-Regular" size = "1.5">HTML/CSS/JS</font></span>
                    </h3>
                    <ul class="archtectureList">
                        <li>Toda estilização e estrutura foi feita utilizando HTML, CSS e Javascript Puro.</li>
                        <li>
                            Inicialmente eu não havia usado nada de bootstrap, sendo todos os códigos criados na mão (Desde o css até o JS),
                            para aprimorar meus conhecimentos, porém, após ter adiquirido todo conhecimento que eu almejava, refiz meu site utilizando os css's prontos do bootstrap para facilitar minha manipulação e ganhar tempo.
                        </li>
                        <li>Toda a parte de dashboard eu peguei de um template pronto da 
                        <a href="https://www.creative-tim.com/product/light-bootstrap-dashboard">CREATIVE TIM</a> que vocês podem baixar e se divertir redefinindo também.
                        </li>
                    </ul>
                    
                </div>
                <div class="col-lg-2">
                    <h3 class="white">
                        <font face = "Gravity-Regular" size = "4.5">Back-end</font><br>
                        <span class="subTypeArchtecture"><font face = "Gravity-Regular" size = "1.5">Ruby</font></span>
                    </h3>
                    <ul class="archtectureList">
                        <li>
                        Todo desenvolvimento de Back-end foi feito com Ruby, desde a estrutura e controle do banco de dados, controle de notificações, até quanto as
                        informações que são dispostas sobre mim e a comunidade.
                        </li>
                    </ul>
                    
                </div>
                <div class="col-lg-3">
                    <h3 class="white">
                        <font face = "Gravity-Regular" size = "4.5">Database</font><br>
                        <span class="subTypeArchtecture"><font face = "Gravity-Regular" size = "1.5">Postgresql</font></span>
                    </h3>
                    <ul class="archtectureList">
                        <li>
                            O banco de dados do meu site guarda dados das minhas informações que estão dispostas na tela <a href="/">inicial</a>
                            para que eu tenha controle e possa editar a qualquer momento pela minha dashboard. Dados dos projetos tantos que eu posto, quanto a comunidade gratuitamente para todos.
                        </li>
                        <li>Curiosidade: A sua escolha de "Tamo Junto" ou "Eu quem agradeço", na primeira vez que vc acessa sua conta, é salva só pela curiosidade <img src="smile.png" style="width:15px;height:15px" alt=""</li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3 class="white">
                        <font face = "Gravity-Regular" size = "4.5">Servidor</font><br>
                        <span class="subTypeArchtecture"><font face = "Gravity-Regular" size = "1.5">Heroku</font></span>
                    </h3>
                    <ul class="archtectureList">
                        <li>
                            A escolha do heroku foi por conta da facilidade que eu tinha de utilizá-lo com Ruby, então caso você
                            tenha alguma <a href="contact/new">sugestão</a> de um melhor servidor, estarei disposto e feliz em escutá-lo(a)
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <script type="text/javascript" src="scripts/shift.js"></script>
        <script type="text/javascript" src="/scripts/fetchDesc.js"></script>
        <script>
            $(document).ready(function(){
                
                $('#projects').DataTable({
                    responsive: true
                });

                //$('input[type=search]').addClass('form-control');
                $('select, input[type=search]').addClass('px-1 py-1');  

                $('select, input[type=search]').css({"background":"white","border-radius":"5px","box-shadow":"0.5px 0.5px 5px 0px"});  
                
                $('#summary').ready(function(){
                    var $this = $(this);
                    var t = $this.text();
                    $this.html(t.replace(/&lt;br\s*\/&gt;/g,'<br>'));
                });
            });
        </script>
    </body>
</html>
