
<% if current_user.admin %>

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header py-auto" style="background: #224E00;vertical-align:middle">
                        <h4 class="card-title" style="color:white; vertical-align: middle;"><strong>Lista de Postagens a Serem Revisados</strong></h4>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                            <table id="dataUsers" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                <th class="text-center">Data da Criação</th>
                                <th class="text-center">Autor</th>
                                <th class="text-center">Título</th>
                                <th class="text-center">Sub Descrição</th>
                                <th class="text-center">Linguagem</th>
                                <th class="text-center">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% Post.all.where.not(admin_verification: true).each do |p| %>
                                <tr>
                                    <td class="text-center"><%= p.created_at.localtime.strftime("%d/%m/%y") + ' ' + p.created_at.localtime.strftime("%H:%M")  %></td>
                                    <td class="text-center"><%= User.find_by_id(p.user_id).name %></td>
                                    <td class="text-center"><%= link_to "#{p.title}", dashboard_edit_post_path(post_id: p.id) %></td>
                                    <td class="text-center"><%= p.sub_description %></td>
                                    <td class="text-center"><%= p.language %></td>
                                    <td class="pt-1">
                                    <button type="button" class="btn btn-sm waves-effect waves-light" style="background-color:#A20800;color:white" data-toggle="modal" data-target="#centralModal<%= p.id %>">
                                        Excluir
                                    </button>
                                    </td>




                                    <div class="modal fade" id="centralModal<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel<%= p.id %>" aria-hidden="true">

                                    <!-- Change class .modal-sm to change the size of the modal -->
                                    <div class="modal-dialog" role="document">


                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title w-100" id="myModalLabel<%= p.id %>">Deseja mesmo excluir?</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row" style="display:flex; justify-content:center">
                                            <div class="col-md-4" >
                                                <div style="top:0;left:0;width: 100px; height: 100px;"><img src="https://github.com/<%= User.find_by_id(p.user_id).github %>.png"  style="width:100%;height:100%;"></img></div>
                                                <!-- https://github.com/pedroMiranda7410.png -->
                                            </div>  
                                            <div class="col-md-8" >
                                                <p class="pl-2">Tem certeza que deseja excluir o <strong><%= p.title %></strong> <strong>permanentemente</strong>? <br>
                                                    Documento feito por: <%= User.find_by_id(p.user_id).name %> </p>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Voltar </button>
                                            <%= link_to 'Excluir', delete_post_path(post_id: p.id), method: :delete, class: "btn" , style: "background-color:#A20800;" %>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </tr>
                            <% end %>
                        </tbody>

                    </table>
                    </div>
                </div>
            </div>
            
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header py-auto" style="background: #033C61;vertical-align:middle">
                        <h4 class="card-title py-auto my-auto" style="color:white; vertical-align: middle;"><strong>Projetos Pessoais</strong></h4>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                            <table id="dataUsers" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                <th class="text-center">Data da Criação</th>
                                <th class="text-center">Autor</th>
                                <th class="text-center">Título</th>
                                <th class="text-center">Sub Descrição</th>
                                <th class="text-center">Linguagem</th>
                                <th class="text-center">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% Project.all.each do |p| %>
                                <tr>
                                    <td class="text-center"><%= p.created_at.localtime.strftime("%d/%m/%y") + ' ' + p.created_at.localtime.strftime("%H:%M")  %></td>
                                    <td class="text-center"><%= User.find_by_id(p.user_id).name %></td>
                                    <td class="text-center"><%= p.title %></td>
                                    <td class="text-center"><%= p.sub_description %></td>
                                    <td class="text-center"><%= p.language %></td>
                                    <td class="pt-1">
                                    <button type="button" class="btn btn-sm waves-effect waves-light" style="background-color:#A20800;color:white" data-toggle="modal" data-target="#centralModal<%= p.id %>">
                                        Excluir
                                    </button>
                                    </td>




                                    <div class="modal fade" id="centralModal<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel<%= p.id %>" aria-hidden="true">

                                    <!-- Change class .modal-sm to change the size of the modal -->
                                    <div class="modal-dialog" role="document">


                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title w-100" id="myModalLabel<%= p.id %>">Deseja mesmo excluir?</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row" style="display:flex; justify-content:center">
                                            <div class="col-md-4" >
                                                <div style="top:0;left:0;width: 100px; height: 100px;"><img src="https://github.com/<%= User.find_by_id(p.user_id).github %>.png"  style="width:100%;height:100%;"></img></div>
                                                <!-- https://github.com/pedroMiranda7410.png -->
                                            </div>  
                                            <div class="col-md-8" >
                                                <p class="pl-2">Tem certeza que deseja excluir o <strong><%= p.title %></strong> <strong>permanentemente</strong>? <br>
                                                    Documento feito por: <%= User.find_by_id(p.user_id).name %> </p>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Voltar </button>
                                            <%= link_to 'Excluir', delete_post_path(post_id: p.id), method: :delete, class: "btn" , style: "background-color:#A20800;" %>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </tr>
                            <% end %>
                        </tbody>

                    </table>
                    </div>
                </div>
            </div>
            
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header " style="background: #B82900;">
                        <h4 class="card-title py-auto" style="color:white;">Lista de Usuários</h4>
                        <p class="card-category" style="color:white;">quantidade de usuários: <%= User.all.length - 1 %><br>
                            quantidade de logins realizados por você: <%= User.where(admin:true).first.login_count %>
                            
                        </p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                            <table id="dataUsers" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                <th class="text-center">Data Cadastro</th>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Qnt. de Logins Realizados</th>
                                <th class="text-center">Agradecimento</th>
                                <th class="text-center">Administrador</th>
                                <th class="text-center">Github</th>
                                <th class="text-center">Nickname</th>
                                <th class="text-center">E-mail</th>
                                <th class="text-center">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% User.all.where.not(id: current_user.id).each do |u| %>
                                    <%
                                        @c_num = u.bgColor

                                        @color_choosen = "" 
                                        if @c_num == 0
                                            @color_choosen = "black"
                                        elsif @c_num == 1
                                            @color_choosen = "azure"
                                        elsif @c_num == 2
                                            @color_choosen = "green"
                                        elsif @c_num == 3
                                            @color_choosen = "orange"
                                        elsif @c_num == 4
                                            @color_choosen = "red"
                                        elsif @c_num == 5
                                            @color_choosen = "purple"
                                        end
                                    %>
                                <tr>
                                    <td class="text-center"><%= u.created_at.localtime.strftime("%d/%m/%y") + ' ' + u.created_at.localtime.strftime("%H:%M")  %></td>
                                    <td class="text-center"  data-toggle="tooltip" data-placement="top" data-html="true" title="Notificações: <%= u.show_notification ? "Ativada" : "Desativada" %><br>Foto de Fundo: <%= u.background_image_display ? "Ativada" : "Desativada" %><br>Cor Escolhida: <%= @color_choosen %><br>Foto Escolhida: <%= u.background_image_choose.to_s %>">
                                        <%= u.name %>
                                    </td>
                                    <td class="text-center"><%= u.login_count %></td>
                                    <td class="text-center" style="color: <%= u.tamo_junto == 1 ? "#3F2300" : u.eu_quem_agradeco == 1 ? "green" : "red" %>"><%= u.tamo_junto == 1 ? "'Tamo Junto'" : u.eu_quem_agradeco == 1 ? "'Eu Quem Agradeço'" : "Nenhum" %></td>
                                    <td class="text-center bg-<%= u.admin ? "success" : "danger" %>" style="color:white"><%= u.admin ? "Sim" : "Não" %></td>
                                    <td class="text-center"><%= u.github %></td>
                                    <td class="text-center"><%= u.nickname %></td>
                                    <td class="text-center"><%= u.email %></td>
                                    <td class="pt-1">
                                    <button type="button" class="btn btn-sm waves-effect waves-light" style="background-color:#A20800;color:white" data-toggle="modal" data-target="#centralModal<%= u.id %>">
                                        Excluir
                                    </button>
                                    </td>




                                    <div class="modal fade" id="centralModal<%= u.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel<%= u.id %>" aria-hidden="true">

                                    <!-- Change class .modal-sm to change the size of the modal -->
                                    <div class="modal-dialog" role="document">


                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title w-100" id="myModalLabel<%= u.id %>">Deseja mesmo excluir?</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row" style="display:flex; justify-content:center">
                                            <div class="col-md-4" >
                                                <div style="top:0;left:0;width: 100px; height: 100px;"><img src="https://github.com/<%= u.github %>.png"  style="width:100%;height:100%;"></img></div>
                                                <!-- https://github.com/pedroMiranda7410.png -->
                                            </div>  
                                            <div class="col-md-8" >
                                                <p class="pl-2">Tem certeza que deseja excluir o <strong><%= u.name %></strong> <strong>permanentemente</strong>? <br>
                                                    Todas suas evoluções e dados serão excluidos. </p>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Voltar </button>
                                            <%= link_to 'Excluir', delete_user_path(user_id: u.id), method: :delete, class: "btn" , style: "background-color:#A20800;" %>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </tr>
                            <% end %>
                        </tbody>

                    </table>
                    </div>
                </div>
            </div>
            
        </div>


         <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header py-auto" style="background: #224E00;vertical-align:middle">
                        <h4 class="card-title" style="color:white; vertical-align: middle;"><strong>Lista de Todas as Postagens</strong></h4>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                            <table id="dataUsers" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                <th class="text-center">Data da Criação</th>
                                <th class="text-center">Autor</th>
                                <th class="text-center">Título</th>
                                <th class="text-center">Sub Descrição</th>
                                <th class="text-center">Linguagem</th>
                                <th class="text-center">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% Post.all.order("created_at DESC").each do |p| %>
                                <tr>
                                    <td class="text-center"><%= p.created_at.localtime.strftime("%d/%m/%y") + ' ' + p.created_at.localtime.strftime("%H:%M")  %></td>
                                    <td class="text-center"><%= User.find_by_id(p.user_id).name %></td>
                                    <td class="text-center"><%= link_to "#{p.title}", dashboard_edit_post_path(post_id: p.id) %></td>
                                    <td class="text-center"><%= p.sub_description %></td>
                                    <td class="text-center"><%= p.language %></td>
                                    <td class="pt-1">
                                    <button type="button" class="btn btn-sm waves-effect waves-light" style="background-color:#A20800;color:white" data-toggle="modal" data-target="#centralModal<%= p.id %>">
                                        Excluir
                                    </button>
                                    </td>




                                    <div class="modal fade" id="centralModal<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel<%= p.id %>" aria-hidden="true">

                                    <!-- Change class .modal-sm to change the size of the modal -->
                                    <div class="modal-dialog" role="document">


                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title w-100" id="myModalLabel<%= p.id %>">Deseja mesmo excluir?</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row" style="display:flex; justify-content:center">
                                            <div class="col-md-4" >
                                                <div style="top:0;left:0;width: 100px; height: 100px;"><img src="https://github.com/<%= User.find_by_id(p.user_id).github %>.png"  style="width:100%;height:100%;"></img></div>
                                                <!-- https://github.com/pedroMiranda7410.png -->
                                            </div>  
                                            <div class="col-md-8" >
                                                <p class="pl-2">Tem certeza que deseja excluir o <strong><%= p.title %></strong> <strong>permanentemente</strong>? <br>
                                                    Documento feito por: <%= User.find_by_id(p.user_id).name %> </p>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Voltar </button>
                                            <%= link_to 'Excluir', delete_post_path(post_id: p.id), method: :delete, class: "btn" , style: "background-color:#A20800;" %>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </tr>
                            <% end %>
                        </tbody>

                    </table>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>

<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul class="footer-menu">
            </ul>
            <p class="copyright text-center">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                <a href="pedro-miranda.herokuapp.com">Pedro Miranda</a>, feito com muito amor para todos.
            </p>
        </nav>
    </div>
</footer>


<script type="text/javascript">
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    });
</script>

<% end %>
