<% @url = request.original_fullpath.gsub( /[\?#].*|$/, "") %>

<% if current_user.present? %>

          <!DOCTYPE html>
    <html lang="en" data-no-turbolink>

    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href="/circle-cropped.png">
        <link rel="icon" type="image/png" href="/circle-cropped.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Pedro Miranda</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

        <!-- CSS Files -->
        <link href="/style_js/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/style_js/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="/style_js/css/demo.css" rel="stylesheet" />
        <link href="/style_js/css/arrow_bounce.css" rel="stylesheet" />
    </head>

    <style>
        #notificationSidebar .form-check-sign::before, #notificationSidebar .form-check-sign::after{
            color: white;
        }
        #notificationSidebar .form-check-sign::after{
            color: white;
        }
    </style>
    <%
        @c_num = current_user.bgColor

        @color_choosen = "" 
        if @c_num == 0
            @color_choosen = ["black", "preto", "#777777"]
        elsif @c_num == 1
            @color_choosen = ["azure", "azul", "#4398FF"]
        elsif @c_num == 2
            @color_choosen = ["green", "verde", "#00E200"]
        elsif @c_num == 3
            @color_choosen = ["orange", "laranja", "#FF511E"]
        elsif @c_num == 4
            @color_choosen = ["red", "vermelho", "#FF0024"]
        elsif @c_num == 5
            @color_choosen = ["purple", "roxo", "#A420E9"]
        end
    %>

    <body data-no-turbolink>
        <div class="wrapper">
            <div class="sidebar" data-color="<%= @color_choosen[0] %>" data-image="<%= current_user.background_image_choose != 6 ? "/style_js/img/Mysidebar-#{current_user.background_image_choose}.jpg" : "https://github.com/#{current_user.github}.png" %> ">
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <%= link_to root_path, :"data-turbolinks" => false, style:"text-decoration:none;color: white; display:flex;" do %>

                                <div style="height: 55px; width: 55px">
                                  <img class="img-profile rounded-circle" style="height:100%; width:100%" src="<%= current_user.github == "" || current_user.github == nil ? '/missing.png' : 'https://github.com/' + current_user.github + '.png' %>">
                                </div>
                                <div class="mx-auto my-auto"><b><%= current_user.name %></b></div>
                          <% end %>
                    </div>
                    <ul class="nav">
                        <li class="<%= @url == '/dashboard' ? "nav-item active" : "" %>">
                            <a class="nav-link" href="/dashboard" data-turbolinks="false">
                                <i class="nc-icon nc-chart-pie-35"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="<%= @url == '/dashboard_edit_user' ? "nav-item active" : "" %>">
                            <a class="nav-link" href="/dashboard_edit_user" data-turbolinks="false">
                                <i class="nc-icon nc-circle-09"></i>
                                <p>Perfil Usuário</p>
                            </a>
                        </li>
                        <% if current_user.admin == true %>
                            <li class="<%= @url == '/dashboard_list_users' ? "nav-item active" : "" %>">
                                <a class="nav-link" href="/dashboard_list_users" data-turbolinks="false">
                                    <i class="nc-icon nc-notes"></i>
                                    <p>Lista de Usuários</p>
                                </a>
                            </li>
                            <li class="<%= @url == '/dashboard_page_data' ? "nav-item active" : "" %>">
                                <a class="nav-link" href="/dashboard_page_data" data-turbolinks="false">
                                    <i class="nc-icon nc-paper-2"></i>
                                    <p>Conteúdo Páginas</p>
                                </a>
                            </li>
                            <li class="<%= @url == '/dashboard_personal_projects' ? "nav-item active" : "" %>">
                                <a class="nav-link" href="/dashboard_personal_projects" data-turbolinks="false">
                                    <i class="nc-icon nc-atom"></i>
                                    <p>Projetos Pessoais</p>
                                </a>
                            </li>
                        <% end %>
                        <li class="<%= @url == '/dashboard_posts' ? "nav-item active" : "" %>">
                            <a class="nav-link" href="/dashboard_posts" data-turbolinks="false">
                                <i class="nc-icon nc-spaceship"></i>
                                <p>Projetos</p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="/dashboard_chat">
                                <i class="nc-icon nc-chat-round"></i>
                                <p>Chat</p>
                            </a>
                        </li>
                        <li>
                            <%= form_for(current_user, url: update_user_path(notification: true), :html => {:id => "notificationForm"}) do |form| %>
                                <span class="nav-link" style="display:flex; justify-content:center">
                                    <i class="nc-icon nc-notification-70"></i>
                                    <p>Notificações
                                        <div id="notificationSidebar" class="form-check" data-toggle="tooltip" data-placement="top" data-html="true" title="Notificações são importantes pra te retornarem respostas do servidor, aconselho deixar ativada, mas fique a vontade em fazer sua decisão.">
                                            <label class="form-check-label">
                                                <%= form.check_box :show_notification, id:"notificationCheckbox", class:"form-check-input", checked: current_user.show_notification  %>
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </p>
                                </span>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                    <div class="container-fluid">

                        <%= link_to 'Pedro Miranda', root_path, class:"navbar-brand" %> 
                        <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-bar burger-lines"></span>
                            <span class="navbar-toggler-bar burger-lines"></span>
                            <span class="navbar-toggler-bar burger-lines"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navigation">
                            <ul class="nav navbar-nav mr-auto">
                                
                                <li class="dropdown nav-item">
                                    <%= link_to 'Repositório Pessoal', software_path, :"data-turbolinks" => false, class:"nav-link" %>
                                </li>
                                <li class="nav-item">
                                    <%= link_to 'Comunidade', comunidade_path, :"data-turbolinks" => false, class:"nav-link" %>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                  <%= link_to "Log out", logout_path, :"data-turbolinks" => false, class:"nav-link" %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                
                <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <% if Post.where(user_id: current_user.id).length > 0 %> 
                                <div class="card " id="with-graph">
                                    <div class="card-body ">
                                        <div id="Principal-Languages-chart"></div>
                                    </div>
                                </div> 
                            <% else %>
                                <div class="card " id="no-graph">
                                    <div class="card-header">
                                        <h4 class="card-title">Gráfico de pizza</h4>
                                        <p class="card-category">Estatísticas sobre as principais linguagens de seus projetos</p>
                                    </div>
                                    <div class="card-body ">
                                        <p class="card-category">Você ainda não postou nenhum projeto!<br>
                                        Compartilhe conhecimento e conheça mais sobre você com as estatísticas</p>
                                    </div>
                                </div>
                            <% end %>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body ">
                                    <div id="users-languages-chart"></div>
                                </div>
                            </div>
                        </div>



                        <%# <div class="col-md-6">
                            <div class="card  card-tasks">
                                <div class="card-header ">
                                    <h4 class="card-title">Tasks</h4>
                                    <p class="card-category">Backend development</p>
                                </div>
                                <div class="card-body ">
                                    <div class="table-full-width">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" value="">
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" value="" checked>
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" value="" checked>
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                    </td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" checked>
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" value="">
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>Read "Following makes Medium better"</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" value="" disabled>
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>Unfollow 5 enemies from twitter</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div> %>



                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-body ">
                                    <div id="all-languages-chart" class="ct-chart"></div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">
                        </ul>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="pedro-miranda.herokuapp.com">Pedro Miranda</a>, feito com amor para todos.
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    <!--   -->
     <div class="fixed-plugin">
    <div class="dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>

        <ul class="dropdown-menu">
            <!--
            <li class="header-title"> Configurações gerais</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger">
                    <p>Notificações</p>
                    <label class="switch" style="float:right">
                        <!-- <input data-remote="true" data-toggle="switch" checked="<%= current_user.show_notification ? "true" : "false" %>" data-on-color="primary" data-off-color="primary" id="user-<%= current_user.id %>" data-url="update_user?user_id=<%= current_user.id %>&notification=<%= current_user.show_notification ? "false" : "true" %>" style="visibility:hidden" data-method="patch"  type="checkbox" > 
                        <input type="checkbox" data-toggle="switch" checked="" data-on-color="primary" data-off-color="primary"><span class="toggle"></span>
                    </label>
                    <div class="clearfix"></div>
                </a>
            </li>
            -->
			<li class="header-title"> Sidebar Style - <i  style="color: #900000" data-toggle="tooltip" data-placement="top" data-html="true" title="<strong>Ajuda:</strong><br>Abra sua sidebar, caso esteja no celular, e brinque com as opções de preview até achar a sidebar que fique mais parecida com você!<br> Depois é só salvar no banco de dados selecionando as mesmas opções, que não sejam de preview." class="far fa-question-circle"></i>
                <span class="arrow">
                    <i class=" fa fa-arrow-left fa-1x" href="#"></i>
                </span>
            </li>
            <li class="adjustments-line" >
                <div class="row">
                    <div class="col-md-12">
                        <table class="">
                            <!-- PROJETO ESCRITO MANUALMENTE -->
                        <%= form_for(current_user, url: update_user_path(bgDisplay: true), :html => {:id => "bgDisplayForm"}) do |form| %>
                            <tbody style="display:flex;flex-direction:row">
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <%= form.check_box :background_image_display, id:"bgDisplayCheckbox", class:"form-check-input", checked: current_user.background_image_display  %>
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>Foto de fundo na sidebar</td>
                                </tr>
                            </tbody>
                        <% end %>
                        </table>
                    </div>
                </div>
            </li>
            <li class="adjustments-line" >
                <div class="row">
                        <div class="col-md-12">
                            <table class="mb-2">
                                <!-- PROJETO ESCRITO MANUALMENTE -->
                                <tbody style="display:flex;flex-direction:row">
                                    <tr>
                                        <td><strong style="color: #900000" data-toggle="tooltip" data-placement="top" data-html="true" title="Use esse botão de preview ao lado para ver se você prefere sua sidebar com foto de fundo ou sem :)">PREVIEW</strong>
                                            <span class="arrow">
                                                <i class=" fa fa-arrow-left fa-1x" href="#"></i>
                                            </span>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" class="switch-trigger mt-3 ">
                                                <span class="switch" >
                                                    <input type="checkbox" <%= current_user.background_image_display ? "checked" : "unchecked" %> data-toggle="switch" data-on-color="primary" data-off-color="primary"><span class="toggle"></span>
                                                </span>
                                                <div class="clearfix"></div>
                                            </a>
                                        </td>                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </li>

            <li class="adjustments-line" >
                <a href="javascript:void(0)" class="switch-trigger background-color">
                <div class="row">
                    <div class="col-md-12">
                        <p>Cor sidebar - <i  style="color: #900000" data-toggle="tooltip" data-placement="top" data-html="true" title="<strong>Instruções:</strong><br>1 click = Preview<br>2 clicks = salvar opção" class="far fa-question-circle"></i>
                            <span class="arrow">
                                <i class=" fa fa-arrow-left fa-1x" href="#"></i>
                            </span>                        
                        </p>
                        <div class="pull-right">
                                <!-- PROJETO ESCRITO MANUALMENTE -->
                            <%= form_for(current_user, url: update_user_path( bgColor: true), :html => {:id => "bgColorForm"}) do |form| %>
                                <span class="badge filter badge-black <%= current_user.bgColor == 0 ? "active" : "" %>" id="black" data-color="black"></span>
                                <span class="badge filter badge-azure <%= current_user.bgColor == 1 ? "active" : "" %>" id="azure" data-color="azure"></span>
                                <span class="badge filter badge-green <%= current_user.bgColor == 2 ? "active" : "" %>" id="green" data-color="green"></span>
                                <span class="badge filter badge-orange <%= current_user.bgColor == 3 ? "active" : "" %>" id="orange" data-color="orange"></span>
                                <span class="badge filter badge-red <%= current_user.bgColor == 4 ? "active" : "" %>" id="red" data-color="red"></span>
                                <span class="badge filter badge-purple <%= current_user.bgColor == 5 ? "active" : "" %>" id="purple" data-color="purple"></span>
                                
                            <% end %>
                        </div>
                    </div>
                </div>
                </a>
            </li>

            <li class="header-title">Imagens da Sidebar - <i  style="color: #900000" data-toggle="tooltip" data-placement="top" data-html="true" title="<strong>Instruções:</strong><br>1 click = Preview<br>2 clicks = salvar opção" class="far fa-question-circle"></i>
            <span class="arrow">
                <i class=" fa fa-arrow-left fa-1x" href="#"></i>
            </span>
            </li>
        <%= form_for(current_user, url: update_user_path( bgImage: true), :html => {:id => "bgImageForm"}) do |form| %>
            <li id="image-0" class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="/style_js/img/Mysidebar-0.jpg" alt="" />
                </a>
                
            </li>
            <li id="image-1">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="/style_js/img/Mysidebar-1.jpg" alt="" />
                </a>
            </li>
            <li id="image-2">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="/style_js/img/Mysidebar-2.jpg" alt="" />
                </a>
            </li>
            <li id="image-3">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="/style_js/img/Mysidebar-3.jpg" alt="" />
                </a>
            </li>
            <li id="image-4">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="/style_js/img/Mysidebar-4.jpg" alt="" />
                </a>
            </li>
            <li id="image-5">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="/style_js/img/Mysidebar-5.jpg" alt="" />
                </a>
            </li>
            <li id="image-6">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="https://github.com/<%= current_user.github %>.png" alt="" />
                </a>
            </li>
        <% end %>
        </ul>
    </div>
</div>

</body>
<!--   Core JS Files   -->
<script src="/style_js/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/style_js/js/core/popper.min.js" type="text/javascript"></script>
<script src="/style_js/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="/style_js/js/plugins/bootstrap-switch.js"></script>
<!--  Chartist Plugin  -->
<script src="/style_js/js/fusioncharts/fusioncharts.js"></script>
<script src="/style_js/js/fusioncharts/fusioncharts.theme.fint.js"></script>
<script src="/style_js/js/fusioncharts/fusioncharts.charts.js"></script>
<!--  Notifications Plugin    -->
<script src="/style_js/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="/style_js/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="/style_js/js/demo.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })


        //demo.initDashboardPageCharts();

        $("#bgDisplayCheckbox").change(function(){
            $("#bgDisplayForm").submit();
        });
        
        $("#notificationCheckbox").change(function(){
            $("#notificationForm").submit();
        });


        $("#black").dblclick(function(){
            $("#bgColorForm").append("<input type='hidden' name='colorValue' value='black' />");
            $("#bgColorForm").submit();
        });
        $("#azure").dblclick(function(){
            $("#bgColorForm").append("<input type='hidden' name='colorValue' value='azure' />'");
            $("#bgColorForm").submit();
        });
        $("#green").dblclick(function(){
            $("#bgColorForm").append("<input type='hidden' name='colorValue' value='green' />'");
            $("#bgColorForm").submit();
        });
        $("#orange").dblclick(function(){
            $("#bgColorForm").append("<input type='hidden' name='colorValue' value='orange' />'");
            $("#bgColorForm").submit();
        });
        $("#red").dblclick(function(){
            $("#bgColorForm").append("<input type='hidden' name='colorValue' value='red' />'");
            $("#bgColorForm").submit();
        });
        $("#purple").dblclick(function(){
            $("#bgColorForm").append("<input type='hidden' name='colorValue' value='purple' />'");
            $("#bgColorForm").submit();
        });


        /* FORMS IMAGENS */
        $("#bgImageForm #image-0").dblclick(function(){
            $("#bgImageForm").append("<input type='hidden' name='imageValue' value='image-0' />'");
            $("#bgImageForm").submit();
        });

         $("#bgImageForm #image-1").dblclick(function(){
            $("#bgImageForm").append("<input type='hidden' name='imageValue' value='image-1' />'");
            $("#bgImageForm").submit();
        });

         $("#bgImageForm #image-2").dblclick(function(){
            $("#bgImageForm").append("<input type='hidden' name='imageValue' value='image-2' />'");
            $("#bgImageForm").submit();
        });

         $("#bgImageForm #image-3").dblclick(function(){
            $("#bgImageForm").append("<input type='hidden' name='imageValue' value='image-3' />'");
            $("#bgImageForm").submit();
        });

         $("#bgImageForm #image-4").dblclick(function(){
            $("#bgImageForm").append("<input type='hidden' name='imageValue' value='image-4' />'");
            $("#bgImageForm").submit();
        });

         $("#bgImageForm #image-5").dblclick(function(){
            $("#bgImageForm").append("<input type='hidden' name='imageValue' value='image-5' />'");
            $("#bgImageForm").submit();
        });

         $("#bgImageForm #image-6").dblclick(function(){
            $("#bgImageForm").append("<input type='hidden' name='imageValue' value='image-6' />'");
            $("#bgImageForm").submit();
        });


        <% if current_user.background_image_display == false %>
            $(".sidebar").removeAttr('data-image');
        <% end %>

        

    <% if @bgDisplay == true && current_user.show_notification == true %>
        (function(from, align) {
            color = 0;

            $.notify({
                icon: "nc-icon nc-check-2",
                message: "Foto de fundo da sidebar foi <strong style'color:#900000'><%= current_user.background_image_display ? "Realocada" : "Retirada" %></strong> com sucesso!"

            }, {
                type: type[color],
                timer: 8000,
                placement: {
                    from: from,
                    align: align
                }
            });
        })();
    <% end %>

    <% if @bgColor == true && current_user.show_notification == true %>
        (function(from, align) {
            color = 1;

            $.notify({
                icon: "nc-icon nc-palette",
                message: "Cor da sidebar alterada para <strong style='color: <%= @color_choosen[1] == 'azul' ? 'white' : @color_choosen[2] %>' ><%= @color_choosen[1] %></strong> com sucesso!"

            }, {
                type: type[color],
                timer: 8000,
                placement: {
                    from: from,
                    align: align
                }
            });
        })();
    <% end %>

    <% if @notification == true %>
        (function(from, align) {
            color = 3;

            $.notify({
                icon: "nc-icon nc-notification-70",
                message: "Suas notificações foram <strong style='color:#900000'><%= current_user.show_notification ? "Ligadas" : "Desligadas" %></strong>!<br><%= current_user.show_notification ? "" : "Espero que não fique com raiva dessa :D" %>"

            }, {
                type: type[color],
                timer: 8000,
                placement: {
                    from: from,
                    align: align
                }
            });
        })();
    <% end %>

    <% if @bgImage == true && current_user.show_notification == true  %>
        (function(from, align) {
        color = 3;

        $.notify({
            icon: "nc-icon nc-sun-fog-29",
            message: "Imagem de Fundo da sidebar foi alterada com sucesso!"

        }, {
            type: type[color],
            timer: 8000,
            placement: {
                from: from,
                align: align
            }
        });
    })();
    <% end %>

    <% if current_user.show_notification == true  %>
        (function(from, align) {
            color = 2;

            $.notify({
                icon: "nc-icon nc-satisfied",
                message: "Bem-vindo á sua <b>Dashboard</b>! Aqui dentro você consegue alterar a cor e foto de fundo da sua sidebar, clicando na engrenagem e, além disso, ter todo controle sobre seus projetos dados pessoais!"

            }, {
                type: type[color],
                timer: 8000,
                placement: {
                    from: from,
                    align: align
                }
            });
        })();
    <% end %>

    });
</script>


<script>
<% 
    @language_array = [] 
    @colors = []

    Post.where(user_id: current_user.id).each do |p|
        @language_array << p.principal_language
    end  

    @language_array.uniq.each do |l|
        @colour = "%06x" % (rand * 0xffffff)
        @colors << @colour 
    end
%>
                                    
var pieChartNulo = {
    "chart": {
        "caption": "Projetos Postados",
        "subCaption": "Filtro por linguagem principal de cada projeto",
        "use3DLighting": "0",
        "showPercentValues": "1",
        "decimals": "1",
        "showLegend": "0",
        "pieRadius": "100",
        "defaultcenterlabel": "<%= Post.where(user_id: current_user.id).length %>",
        "useDataPlotColorForLabels": "1",
        "plotToolText": "<b>$dataValue</b> projeto(s) que usam $label",
        "theme": "umber"
    },
    "data": [
        <% @i = 0 %>
        <% @language_array.uniq.each do |l| %>
            {
                "label": "<%= l %>",
                "value": "<%= Post.where(principal_language: l, user_id: current_user.id).length %>",
                "color": "#<%= @colors[@i] %>"
            },
            <% @i = @i + 1 %>
        <% end %>
    ]
  }

    var pieChart = FusionCharts.render(
    {
        width: "100%",
        height: "400",
        type: "doughnut2d",
        renderAt: "Principal-Languages-chart",
        dataSource: pieChartNulo
    });

</script>

<script>
    <%
        @lang_array = ["Assembly", "Ruby", "JavaScript", "Python", "Java", "PHP", "C++", "C++", "Arduino", "CSS", "C#", "C", "Go", "Typescript", "Swift" ,"Conceito Teórico", "Outros" ]                                                    
    %>
                                    
    var pieUserChartNulo = {
        "chart": {
            "caption": "Linguagens Favoritas",
            "subCaption": "Filtro por Usuário",
            "use3DLighting": "0",
            "showPercentValues": "1",
            "decimals": "1",
            "showLegend": "0",
            "pieRadius": "100",
            "useDataPlotColorForLabels": "1",
            "plotToolText": "<b>$dataValue</b> usuário(s) utiliza(m) mais $label",
            "theme": "umber"
        },
        "data": [
            <% @i = 0 %>
            <% @lang_array.each do |l| %>
                <% @colour = "%06x" % (rand * 0xffffff) %>
                {
                    "label": "<%= l %>",
                    "value": "<%= User.where(favorite_language: l).length %>",
                    "color": "#<%= @colour %>"
                },
                <% @i = @i + 1 %>
            <% end %>
        ]
    }

    var usersChart = FusionCharts.render(
    {
        width: "100%",
        height: "400",
        type: "pie2d",
        renderAt: "users-languages-chart",
        dataSource: pieUserChartNulo
    });

</script>

<script>

    <%
        @lang_array = ["Assembly", "Ruby", "JavaScript", "Python", "Java", "PHP", "C++", "C++", "Arduino", "CSS", "C#", "C", "Go", "Typescript", "Swift" ,"Conceito Teórico", "Outros" ]                                                    
    %>

    const dataCollumnSource = {
    chart: {
        caption: "Todos os Projetos",
        subCaption: "Filtro por linguagem",
        xAxisName: "Linguagens",
        yAxisName: "Nº de Projetos criados",
        theme: "umber"
    },
    data: [
        <% @lang_array.each do |l| %>
            <% @colour = "%06x" % (rand * 0xffffff) %>
            {
            label: "<%= l %>",
            value: "<%= Post.where(principal_language: l).length + Project.where(principal_language: l).length  %>",
            color:"#<%= @colour %>"
            },
        <% end %>
    ]
    };

    var collumnChart = FusionCharts.render(
        {
            width: "100%",
            height: "100%",
            type: "column2d",
            renderAt: "all-languages-chart",
            dataSource: dataCollumnSource
        });

</script>


<% else %>


  <div class="back">
    <div class="center cenX">
      <h1 class="titleMain" style="font-family: 'Gravity-Regular';font-size: 3em;">DASHBOARD</h1>
      <h3 class="regTitle padB40" style="margin-top:0;font-family: 'Gravity-Regular';font-size: 2.5em;">EM BREVE...</h3>

    </div>
  </div>


<% end %>