

<div class="back my-5" style="margin-top: 101px;<%= current_mobileDevice ? "margin-bottom:150px;" : "" %>; height: 120% !important;" >
  <div class="<%= current_mobileDevice ? "" : "center" %> cenX pt-5 py-5" style="margin-top: 101px;">
    <h1 class="titleMain pt-5" style="font-family: 'Gravity-Regular';">CADASTRO</h1>
    <h3 class="regTitle padB40" style="margin-top:0;font-family: 'Gravity-Regular';"> Faça parte da comunidade!</h3>

    <%= form_for(@user, url: create_user_path) do |form| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> que impediu(ram) que salvasse:</h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="col-lg-6 <%= current_mobileDevice ? "mx-4" : "" %>">
            <div class="form-group">
              <div>
                <%= form.label 'Nome:', class: "" %>
              </div>
              <%= form.text_field :name, required: true, class:"form-control "  %>
            </div>
          </div>

          <div class="col-lg-6 <%= current_mobileDevice ? "mx-4" : "" %>">
            <div class="form-group">
              <div>
                <%= form.label 'Github (Nick):', class: "" %>
              </div>
              <%= form.text_field :github, required: true,focus:true, class:"form-control "  %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 <%= current_mobileDevice ? "mx-4" : "" %>">
            <div class="form-group">
              <div>
                <%= form.label 'Nickname:', class: "" %>
              </div>
              <%= form.text_field :nickname, required: true, class:"form-control "  %>
            </div>
          </div>
          <div class="col-lg-6 <%= current_mobileDevice ? "mx-4" : "" %>">
            <div class="form-group">
              <div>
                <%= form.label 'E-mail:', class: "" %>
              </div>
              <%= form.text_field :email, required: true, class:"form-control "  %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 <%= current_mobileDevice ? "mx-4" : "" %>">
                <div class="form-group">
                  <div>
                    <%= form.label "Senha: ", class: "" %>
                  </div>
                  <%= form.password_field :password, required: true, class:"form-control " %>
                </div>
              </div>
              <div class="col-lg-2">

              </div>
          <div class="col-lg-5 <%= current_mobileDevice ? "mx-4" : "" %>">
            <div class="form-group">
              <div>
                <%= form.label "Confirmar Senha: ", class: "" %>
              </div>
              <%= form.password_field :password_confirmation, required: true, class:"form-control " %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6">
              <div class="form-group">
                  <label>Linguagem Favorita: </label>
                  <%= @language_type = [ "Ruby","Assembly", "JavaScript", "Python", "Java", "PHP", "C++", "C++", "Arduino", "CSS", "C#", "C", "Go", "Typescript", "Swift" ,"Conceito Teórico", "Outros" ]
                  form.select :favorite_language, @language_type,{},class: "form-control", required: true, class:"form-control" %>
                              
              </div>
          </div>
          <div class="col-lg-3">
          </div>          
        </div>
        

            <br>

        <div class="actions">
          <%= form.hidden_field :admin, value: false %>
          <%= form.submit 'Cadastrar', class: "btn btn-success "%>
        </div>
    <% end %>

  </div>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    $('.anchor-page').css({
      position:'relative',
      left: ($(window).width() - $('.anchor-page').outerWidth())/2,
      top: ($(window).height() - $('.anchor-page').outerHeight())/2
    });

  });


</script>
